<div class="row">
  <div class="input-group mb-3">
    <input (keyup.enter)="agregarTarea(inputTarea.value)" type="text" class="form-control" placeholder="qué tenés que hacer??"
      aria-describedby="button-addon2" #inputTarea>
    <div class="input-group-append">
      <button (click)="agregarTarea(inputTarea.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">agregar</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-group mb-3" *ngFor="let tarea of tareas">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" [(ngModel)]="tarea.terminada" (click)="editarTarea(tarea)" aria-label="Checkbox for following text input">
      </div>
    </div>
    <input type="text" [(ngModel)]="tarea.descripcion" class="form-control" aria-label="Text input with checkbox">
    <div class="input-group-text">
      <button type="button" class="close" aria-label="Close" (click)="borrarTarea(tarea.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<h5>propiedad tareas</h5>
<p>
  {{tareas | json}}
</p>